/* CSS Document */
body{
	background-color: #84adc5;
	width:100%;
}
body.claro{
	background-color: #8deeed;
}
body.oscuro{
	background-color: #877a76;
}
button{
	background-color: #7fba67;
	color: #ffffff;
	border: none;
	width: 98%;
	padding: 30px;
	font-size: 1em;
	margin-top: 10px;
}
#zona-gestos{
	
	width:50%;
	background-color: #7fba67;
	border: none;
	margin-top: 10px;
	height: 300px;
	display:block;
}
#zona-gestos.touch{
	-webkit-animation: presion 1.5s 1;
}
#zona-gestos.doubleTouch{
	-webkit-animation: pulsacion 1.5s 1;
}
#info{
	color:#FFFFFF;
	font-size: 2em;
	margin-top: 10px;
	text-transform: uppercase;
}



@-webkit-keyframes pulsacion{
	0%,100%{
		background-color: #7fba67 
	}
	50%{
		background-color: #8deeed
	}
}
@-webkit-keyframes presion{
	0%,100%{
		background-color: #7fba67 
	}
	50%{
		background-color: #877a76
	}
}